
/********************************************************************* GENERAL **********************************************************************/

* {
    box-sizing: border-box;
}

/*****************************************************************************************************************************************************/

body {
    font-family: 'Public Sans', sans-serif;
}


/********************************************************************* HEADER **********************************************************************/

.header {
    width: 100%;
    text-align: center;
    background-color: #fff;
}

.header-content-wrapper {
    width: 1300px;
    margin: 0 auto;
}

.header-first-column, .header-second-column, .header-third-column {
    display: table;
}

.site-logo, .navbar, .header-button {
    display: table-cell;
    vertical-align: middle;
}

.navbar {
    background-color: #fff !important;
}

/***************************************************************************************************************************************************/